* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(236, 242, 255, 1);
}
.main-class {
  background-color: rgb(255, 255, 255);
  width: 736px;
  height: 512px;
  border-radius: 32px;
  display: flex;
}
.blueside-container {
  width: 368px;
  height: 512px;
  border-radius: 32px;
  background: linear-gradient(
    to bottom,
    rgba(105, 67, 255, 1),
    rgba(47, 44, 233, 1)
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.yourresult-class {
  width: 125px;
  height: 31px;
  font-weight: 700;
  font-size: 24px;
  font-family: "Hanken Grotesk", serif;
  color: #cac9ff;
}
.circle-container {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    to bottom,
    rgba(77, 33, 201, 1),
    rgba(37, 33, 201, 0)
  );
  border-radius: 50%;
  font-size: 72px;
  font-weight: 800;
  font-family: "Hanken Grotesk", serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.great-container {
  font-family: "Hanken Grotesk", serif;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
}
p {
  font-family: "Hanken Grotesk", serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(202, 201, 255, 1);
  width: 260px;
  height: 69px;
}
h5 {
  width: 52px;
  height: 23px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(202, 201, 255, 1);
}
.whiteside-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.summary-container {
  width: 104px;
  height: 31px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Hanken Grotesk", serif;
  color: rgba(48, 59, 89, 1);
  margin-top: 38px;
  margin-left: 40px;
}
.ullist-contaier {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
}
li {
  list-style-type: none;
}
input {
  border-radius: 12px;
  width: 288px;
  height: 56px;
}
.continue-container {
  border-radius: 128px;
  background: linear-gradient(
    to bottom,
    rgba(119, 85, 255, 1),
    rgba(105, 67, 255, 1),
    rgba(47, 44, 233, 1)
  );
  width: 288px;
  height: 56px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", serif;
  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
  margin-bottom: 46px;
}
/* .ullist-contaier ul li:first-child input {
  background-color: rgba(255, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  padding-left: 48px;
} */
/* .ullist-contaier ul li:nth-child(2) input {
  background-color: rgba(255, 255, 0, 0.05);
  padding-left: 48px;
} */
/* .ullist-contaier ul li:nth-child(3) input {
  background-color: rgba(0, 255, 0, 0.05);

  padding-left: 48px;
}
.ullist-contaier ul li:nth-child(4) input {
  background-color: rgba(0, 0, 255, 0.05);
  padding-left: 48px;
} */
.ullist-contaier ul li:first-child ::placeholder {
  color: red;
}
.ullist-contaier ul li:nth-child(2) ::placeholder {
  color: yellow;
}
.ullist-contaier ul li:nth-child(3) ::placeholder {
  color: Green;
}
.ullist-contaier ul li:nth-child(4) ::placeholder {
  color: Blue;
}

.ullist-contaier ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* li:first-child {
  background-image: url(Vector.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  top: 20px;
}
.ullist-contaier ul li:nth-child(2) input {
  background-image: url(iconoir_brain.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  top: 20px;
} */
/* .ullist-contaier ul li:nth-child(3) input {
  background-image: url(iconoir_chat-remove.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  top: 20px;
}
.ullist-contaier ul li:nth-child(4) input {
  background-image: url(iconoir_eye-empty.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  top: 20px;
}
.ullist-contaier input {
  border: 1px solid transparent;
  outline: none;
} */
li:nth-child(1) {
  width: 288px;
  height: 56px;
  background-color: rgba(255, 0, 0, 0.05);
  position: relative;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-family: "Hanken Grotesk", serif;
  font-size: 18px;
  font-weight: 500;
  padding-left: 48px;
  padding-top: 17px;
  color: rgba(255, 85, 85, 1);
  background-image: url(Vector.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}
li:nth-child(2) {
  width: 288px;
  height: 56px;
  background-color: rgba(255, 255, 0, 0.05);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  font-family: "Hanken Grotesk", serif;
  font-size: 18px;
  font-weight: 500;
  padding-left: 48px;
  padding-top: 17px;
  color: rgba(255, 178, 30, 1);
  background-image: url(iconoir_brain.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  top: 20px;
}
li:nth-child(3) {
  width: 288px;
  height: 56px;
  background-color: rgba(0, 255, 0, 0.05);
  border-radius: 12px;
  color: rgba(0, 187, 143, 1);
  font-family: "Hanken Grotesk", serif;
  font-size: 18px;
  font-weight: 500;
  padding-left: 48px;
  padding-top: 17px;
  background-image: url(iconoir_chat-remove.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  top: 20px;
}
li:nth-child(4) {
  width: 288px;
  height: 56px;
  background-color: rgba(0, 0, 255, 0.05);
  border-radius: 12px;
  color: rgba(17, 37, 214, 1);
  font-family: "Hanken Grotesk", serif;
  font-size: 18px;
  font-weight: 500;
  padding-left: 48px;
  padding-top: 17px;
  background-image: url(iconoir_eye-empty.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}
.li1Class {
  position: absolute;
  left: 200px;
  top: 17px;
}
/* .li2Class ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
} */
li {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 100px;
}
.li2Class {
  position: absolute;
  left: 628px;
}
.li1Class {
  color: rgba(48, 59, 89, 1);
  font-family: "Hanken Grotesk", serif;
  font-weight: 700;
  font-size: 18px;
}
b {
  opacity: 50%;
}
.li2Class {
  color: rgba(48, 59, 89, 1);
  font-family: "Hanken Grotesk", serif;
  font-weight: 700;
  font-size: 18px;
  padding-left: 141.5px;
}
.li3Class {
  color: rgba(48, 59, 89, 1);
  font-family: "Hanken Grotesk", serif;
  font-weight: 700;
  font-size: 18px;
}
.li4Class {
  color: rgba(48, 59, 89, 1);
  font-family: "Hanken Grotesk", serif;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  right: 220px;
}
span {
  position: absolute;
  left: 168px;
  width: 256px;
  height: 56px;
  opacity: 50%;
}
